.college_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/src/img/college.png') center/cover no-repeat;
    transform: scale(1);
    transition: transform .8s ease;
    will-change: transform;
    z-index: 0;
}

.college-section {
    margin: 80px auto 60px;

}

.college-title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--governmentBg);
}

.college-content {
    border: 1px solid var(--managementColor);
    border-radius: 8px;
    padding: 40px;
    margin: 60px 0;
}

@media(max-width: 992px) {
    .college-section {
        margin: 20px auto;
    }

    .college-title {
        font-size: 20px;
    }

    .college-content {
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }
}