.constitution_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/src/img/constitution_bg.png') center/cover no-repeat;
    transform: scale(1);
    transition: transform .8s ease;
    will-change: transform;
    z-index: 0;
}