.post_bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url('/src/img/post_bg.png') center/cover no-repeat;
    transform: scale(1);
    transition: transform .8s ease;
    will-change: transform;
    z-index: 0;
}

.post-section {
    margin: 80px 0;
}

@media(max-width: 992px) {
    .post-section {
        margin: 50px 0;
    }
}

@media(max-width: 768px) {
    .post-section {
        margin: 20px 0;
    }
}